@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

/* img[alt] {
  color: transparent;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-red {
  color: #ff3939 !important;
}

.text-gray {
  color: #333333 !important;
}
